<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Товары</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col pt-5">
            <div class="btn-group mb-4">
                <button type="button" class="btn btn-lg btn-secondary" disabled>Товары</button>
                <a href="{{url_for('sales')}}" class="btn btn-lg btn-secondary">Продажи</a>
            </div>
            <div class="mb-3 row">
                <div class="col-4">
                    <a href="{{url_for('product_edit', product_id=empty_id)}}" class="btn btn-primary"
                       title="Добавить товар"><i class="fas fa-plus"></i></a>
                    <form id="import-form"
                          class="d-none"
                          method="post"
                          action="{{url_for('products_import')}}"
                          enctype="multipart/form-data"
                    >
                        <input id="import-field"
                               type="file"
                               name="import-file"
                               onchange="document.getElementById('import-form').submit()"
                        >
                    </form>
                    <a href="#"
                       class="btn btn-primary"
                       title="Импорт csv"
                       onclick="open_file_dialog()"
                    ><i class="fas fa-file-import"></i></a>
                    <a href="{{url_for('products_export')}}" class="btn btn-primary" title="Экспорт csv"><i class="fas fa-file-export"></i></a>
                </div>
                <div class="col-8">
                    <form>
                        <input name="search" class="form-control" placeholder="Поиск по названию" type="search"
                               value="{{search}}">
                    </form>
                </div>
            </div>
            <script><!--
                function open_file_dialog(){
                    var element = document.getElementById('import-field');
                    if(element.click){
                        element.click();
                    }else if(document.createEvent){
                        var eventObj = document.createEvent('MouseEvents');
                        eventObj.initEvent('click',true,true);
                        element.dispatchEvent(eventObj);
                    }
                    return false;
                }
            --></script>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>
                        {% if sort_field == 'name' and sort_order == 'asc'%}
                            <a href="{{url_for('index', sort_field='name', sort_order='desc', search=search)}}">
                        {% else %}
                            <a href="{{url_for('index', sort_field='name', sort_order='asc', search=search)}}">
                        {% endif %}
                                {% if sort_field == 'name' and sort_order == 'asc'%}
                                    <i class="fas fa-sort-up"></i>
                                {% elif sort_field == 'name' and sort_order == 'desc' %}
                                    <i class="fas fa-sort-down"></i>
                                {% else %}
                                    <i class="fas fa-sort"></i>
                                {% endif %}
                                Название
                            </a>
                    </th>
                    <th>
                        {% if sort_field == 'price' and sort_order == 'asc'%}
                            <a href="{{url_for('index', sort_field='price', sort_order='desc', search=search)}}">
                        {% else %}
                            <a href="{{url_for('index', sort_field='price', sort_order='asc', search=search)}}">
                        {% endif %}
                                {% if sort_field == 'price' and sort_order == 'asc'%}
                                    <i class="fas fa-sort-up"></i>
                                {% elif sort_field == 'price' and sort_order == 'desc' %}
                                    <i class="fas fa-sort-down"></i>
                                {% else %}
                                    <i class="fas fa-sort"></i>
                                {% endif %}
                                Цена (руб.)
                            </a>
                    </th>
                    <th>
                        {% if sort_field == 'quantity' and sort_order == 'asc'%}
                            <a href="{{url_for('index', sort_field='quantity', sort_order='desc', search=search)}}">
                        {% else %}
                            <a href="{{url_for('index', sort_field='quantity', sort_order='asc', search=search)}}">
                        {% endif %}
                                {% if sort_field == 'quantity' and sort_order == 'asc'%}
                                    <i class="fas fa-sort-up"></i>
                                {% elif sort_field == 'quantity' and sort_order == 'desc' %}
                                    <i class="fas fa-sort-down"></i>
                                {% else %}
                                    <i class="fas fa-sort"></i>
                                {% endif %}
                                Кол-во (шт.)
                            </a>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <th>{{loop.index}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td>
                        <a href="{{url_for('product_sale', product_id=product.id)}}"
                           class="btn btn-success mr-5"
                           title="Оформить продажу"
                        ><i class="fas fa-shopping-cart"></i></a>
                        <a href="{{url_for('product_edit', product_id=product.id)}}" class="btn btn-primary"
                           title="Редактировать"><i class="fas fa-edit"></i></a>
                        <a href="{{url_for('product_remove', product_id=product.id)}}" class="btn btn-danger"
                           title="Удалить"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>